body {
    background-image: url("content/фон.jpg");
    background-size: 100%;
    background-repeat: repeat-y;
}
#Megumin {
    text-align: center;
    margin-top: 1%;
}
#MainPanel{
    text-align: center;
}
#ghost {
    height: 10000px;
}
